// Fonts
//@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
@import "partials/typography";

// Variables
/*@import "variables";*/

// Bootstrap
//@import "node_modules/bootstrap/scss/bootstrap.scss";

// Debug tools. TODO remove on deploy
@import "partials/debug";

// Colors
@import "partials/color";

// Mixins
@import "partials/mixins";

@import "partials/globals";

@import "blocks/header";

@import "blocks/carrossel";

@import "blocks/area_noticias";

@import "blocks/areas_especiais";

@import "blocks/footer";

// Noticias

#body_noticia {
  display: flex;
  flex-direction: row;
  header {
    margin-bottom: 1rem;
  }
  #area_artigo {
    flex: 2;
    margin-right: 1rem;
  }
  #article_metadata {
    display: flex;
    justify-content: space-between;
    font-family: $font-subheading;
    font-size: 1.1rem;
    font-weight: 300;
  }
  article {
    font-family: $font_body;
    font-size: 1.5rem;
  }
  aside {
    flex: 1;
    section {
      background-color: $cinza;
      margin-bottom: 1rem;
      padding: 1rem;
      #sidebar_botoes {
        display: flex;
        flex: 1;
        flex-flow: row wrap;
        flex-basis: 50%;
        background-color: $cinza-dark;
        nav {
          align-items: center;
          text-align: center;
          width: 50%;
          padding: 0.5rem;
        }
      }
    }
  }
}

