$sain-azul: #0C3455;
$sain-azul-light: lighten($sain-azul, 15%);
$sain-azul-lightest: lighten($sain-azul-light, 15%);

$sain-verde: #024F27;
$sain-verde-light: lighten($sain-verde, 15%);
$sain-verde-lightest: lighten($sain-verde-light, 15%);

$sain-amarelo: #F2BE1A;
$sain-amarelo-light: lighten($sain-amarelo, 15%);
$sain-amarelo-lightest: lighten($sain-amarelo-light, 15%);
$sain-amarelo-dark: darken($sain-amarelo, 15%);
$sain-amarelo-darkest: darken($sain-amarelo-dark, 15%);

$cinza: #f5f5f5;
$cinza-dark: darken($cinza, 30%);
$cinza-darkest: darken($cinza-dark, 30%);

$vermelho-aniversario: #f36a64;

//$gray-lightest: #f5f5f5;
//$gray-light: #e6e6e6;