//form {
//  fieldset {
//    @extend .form-group;
//  }
//  div {
//    @extend .form-group, .flex-row;
//  }
//  .formulario-checkbox {
//    @extend .d-flex, .flex-column;
//    align-items: baseline;
//    margin: 0px;
//    padding: 0;
//    list-style: none;
//    input[type="radio"], input[type="checkbox"] {
//      margin-right: 0.5rem;
//    }
//  }
//  label {
//    margin-bottom: .3rem;
//  }
//  input, select {
//    @extend .form-control;
//  }
//  input[type="submit"], input[type="button"], input[type="reset"], button[type="submit"], button[type="button"], button[type="reset"] {
//    @extend .btn;
//    width: auto;
//  }
//  input[type="submit"], button[type="submit"] {
//    @extend .btn-primary;
//  }
//  input[type="button"], button[type="button"] {
//    @extend .btn-secondary;
//  }
//  input[type="reset"], button[type="reset"] {
//    @extend .btn-warning;
//  }
//  input[disabled], button[disabled] {
//    background-color: $cinza-dark !important;
//    border: 1px solid $cinza-darkest !important;
//  }
//  button {
//    @extend .btn;
//  }
//  optgroup {
//    background-color: $cinza;
//    option {
//      background-color: white;
//    }
//  }
//  small {
//    @extend .form-text;
//    color: $sain-azul-lightest;
//  }
//}

.form-item{
  @extend .d-flex, .flex-row;
  background: $cinza;
  padding: 0.5rem;
  font: normal 0.9rem $font-base;
  //font-size: 0.8rem;
  * {
    @extend .d-flex;
    margin: 0;
    padding: 0;
  }
  input{
    flex: 1;
    font-family: inherit;
    padding: 2px 0.5rem;
    border: 1px solid $cinza-dark;
  }
  small{
    margin-left: calc(0.5rem + 1px);
    text-align: justify;
  }
  .form-item-label{
    @extend .justify-content-end, .align-items-start;
    font-weight: bold;
    width: 10rem;
    margin-right: 0.5rem;
    color: $cinza-darkest;
    label{
      padding-top: 3px; // ajusta label para input
      text-align: right;
    }
  }
  .form-item-content{
    @extend .d-flex, .flex-column;
    flex: 1;
  }
}