form {
  fieldset {
    @extend .form-group;
    div {
      @extend .form-group, .flex-row;
      label {
        margin-bottom: .3rem;
      }
      input, select {
        @extend .form-control;
      }
      optgroup {
        background-color: $cinza;
        option {
          background-color: white;
        }
      }
      small {
        @extend .form-text;
        color: $sain-azul-lightest;
      }
    }
    .formulario-checkbox {
      margin: 0px;
      padding: 0;
      list-style: none;
    }
  }
}