@mixin multiLineEllipsis($lineHeight: 1.2em, $lineCount: 1, $bgColor: white){
  overflow: hidden;
  position: relative;
  line-height: $lineHeight;
  max-height: $lineHeight * $lineCount;
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
  &:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
  }
  &:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: $bgColor;
  }
}

@mixin transitionEaseInOut($element: color, $duration: 0.2) {
  -webkit-transition: #{$element} #{$duration}s;
  -moz-transition: #{$element} #{$duration}s;
  -ms-transition: #{$element} #{$duration}s;
  -o-transition: #{$element} #{$duration}s;
  transition: #{$element} #{$duration}s;
}

@mixin matchingBgBorderColor($color) {
  background-color: $color;
  border-color: darken($color, 5%);
}

@mixin paintNotification($color, $text: black) {
  color: $text;
  @include matchingBgBorderColor($color);
}

@mixin stripedBackground($color: $cinza, $stripeIntensity: 5%, $angle: 45, $stripeSize: 10px, $startOver: $stripeSize * 2) {
  background: repeating-linear-gradient(
                  #{$angle}deg,
                  $color,
                  $color $stripeSize,
                  darken($color, $stripeIntensity) $stripeSize,
                  darken($color, $stripeIntensity) $startOver
  );
}