@font-face {
  font-family: OpenSansLocal;
  src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: OpenSansLocal;
  src: url('../fonts/OpenSans-Italic.ttf');
  font-style: italic;
}

@font-face {
  font-family: OpenSansLocal;
  src: url('../fonts/OpenSans-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: OpenSansLocal;
  src: url('../fonts/OpenSans-BoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: OpenSansLocal;
  src: url('../fonts/OpenSans-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: OpenSansLocal;
  src: url('../fonts/OpenSans-LightItalic.ttf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: FjallaoneLocal;
  src: url('../fonts/FjallaOne-Regular.ttf');
}

@font-face {
  font-family: AverageRegularLocal;
  src: url('../fonts/Average-Regular.ttf');
}

$font_heading: 'FjallaoneLocal';
$font_subheading: 'OpenSansLocal';
$font_body: 'AverageRegularLocal', 'times new roman', 'serif';
$font-base: 'OpenSansLocal';


/*! Typebase.scss v0.1.0 | MIT License */

// Typesetting variables. Edit these!
$baseFontSize: 22; // in pixels. This would result in 22px on desktop
$baseLineHeight: 1.5; // how large the line height is as a multiple of font size
$leading: $baseLineHeight * 1rem;
// Rate of growth for headings
// I actually like this to be slightly smaller then the leading. Makes for tight headings.
$scale: 1.414;

/* Setup */

html {
  /* Change default typefaces here */
  font-family: serif;
  font-size: $baseFontSize / 16 * 100%;

  -webkit-font-smoothing: antialiased;
   -webkit-text-size-adjust: auto;
   -moz-text-size-adjust: auto;
   -ms-text-size-adjust: auto;
   -o-text-size-adjust: auto;
   text-size-adjust: auto;

}
/* Copy & Lists */

p {
  font-family: $font_body !important;
  line-height: $leading;
  margin-top: 0.4 * $leading;
  margin-bottom: 0;
  text-indent: 2 * $leading ;
  &:first-child{
    margin-top: 0;
  }
}
ul,
ol {
  margin-top: $leading;
  margin-bottom: $leading;
  li {
    line-height: $leading;
  }
  ul,
  ol {
    margin-top: 0;
    margin-bottom: 0;
  }
}
blockquote {
  line-height: $leading;
  margin-top: $leading;
  margin-bottom: $leading;
}
/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
  /* Change heading typefaces here */
  font-family: $font_subheading;
  margin-top: $leading * 0.6;
  margin-bottom: 0.2rem;
  line-height: $leading;
}
h3, h4{
  font-weight: 400;
}
h5, h6{
  font-weight: 300;
}
h1 {
  font-family: $font_heading;
  font-size: 1.6 * $scale * 1rem;
  line-height: 3 * $leading;
  margin-top: 0.1 * $leading;
}
h2 {
  font-size: 1.3 * $scale * 1rem;
  line-height: 2 * $leading;
  margin-top: 0.1 * $leading;
}
h3 {
  font-size: 1.2 * $scale * 1rem;
}
h4 {
  font-size: $scale * 1rem;
}
h5 {
  font-size: 0.8 * $scale * 1rem;
}
h6 {
  font-size: 0.6 * $scale * 1rem;
}
/* Tables */

table {
  margin-top: $leading;
  border-spacing: 0px;
  border-collapse: collapse;
}
td,
th {
  padding: 0;
  line-height: $baseLineHeight * $baseFontSize - 0px;
}
/* Code blocks */

code {
  // Forces text to constrain to the line-height. Not ideal, but works.
  vertical-align: bottom;
  font-family: monospace !important;
}
strong, b, em, u, s, del, ins, cite {
  font-family: $font_body;
}
small{
  font-weight: 300;
}
i{
  font-size: 0.8rem;
}
sub{
  font-size: 0.6rem;
}

/* Leading paragraph text */

.lead {
  font-size: $scale * 1rem;
}
/* Hug a the block above you */

.hug {
  margin-top: 0;
}