.has-dropdown{
  position: relative;
  cursor: default;
  .dropdown-trigger:hover .dropdown-content{
    display: flex;
  }
}

.dropdown-content{
  @extend .hidden;
  position: absolute;
  top: 60px;
  left: 0;
  margin: 0;
  padding: 0;
  min-width: 100%;
  ul{
    margin: 0;
    padding: 0;
    list-style: none;
    min-width: 100%;
    li{
      @include smoothBackgroundHover($sain-azul-light);
      white-space: nowrap;
      padding: 0 0.5rem;
    }
  }
}