.has-dropdown{
  position: relative;
  cursor: default;
  .dropdown-trigger:hover .dropdown-content{
    //display: flex;
    visibility: visible;
    opacity: 1;
  }
}

.dropdown-content{
  //@extend .hidden;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.2s linear;
  position: absolute;
  top: 60px;
  left: 0;
  margin: 0;
  padding: 0;
  min-width: 100%;
  ul{
    margin: 0;
    padding: 0;
    list-style: none;
    min-width: 100%;
    li{
      @include smoothBackgroundHover($sain-azul-light);
      white-space: nowrap;
      padding: 0.1rem 0.5rem;
    }
  }
}