
.form-item {
  @extend .d-flex, .flex-row;
  padding: 0.5rem 1rem;
  font: normal 0.9rem $font-base;
  //font-size: 0.8rem;
  * {
    @extend .d-flex;
    margin: 0;
    padding: 0;
  }
  small {
    margin-left: calc(0.5rem + 1px);
    text-align: justify;
  }
  input, select, textarea {
    flex: 1;
    font-family: inherit;
    //padding: 2px 0.5rem;
    padding: 0.3rem 0.5rem;
    border: 1px solid $cinza-dark;
  }
  select{
    option{
      padding-left: 0.5rem;
    }
  }
  .form-item-label {
    @extend .align-items-start;
    font-weight: bold;
    width: 10rem;
    margin-right: 0.5rem;
    color: $cinza-darkest;
    label {
      padding-top: calc(0.3rem + 1px); // ajusta label para input
    }
  }
  .form-item-content {
    @extend .d-flex, .flex-column;
    flex: 1;
  }
  .form-complementary {
    margin-left: 0.5rem;
  }
  button{
    border: 0;
    padding: 0.3rem 0.5rem;
    background-color: $sain-azul;
    color: white;
    &:hover{
      background-color: $sain-azul-light;
    }
    &:active{
      background-color: $link-hover-color;
    }
  }
}

.form-checkbox{
  .form-item-content-main{
    flex-direction: column;
  }
  input{
    flex: 0;
    margin-right: 0.5rem;
  }
}

.form-button{
  justify-content: center;
}

.form-feedback-error {
  @extend .note-error;
  border: 0;
  label, small {
    color: white !important;
  }
}